/Proj Final/estaticos_market.csv
/Proj Final/MERCADO_FINAL.csv
/Proj Final/.ipynb_checkpoints/estaticos_market-checkpoint.csv
/Proj Final/.ipynb_checkpoints/MERCADO_FINAL-checkpoint.csv
/.ipynb_checkpoints/*
/Proj Final/.ipynb_checkpoints/*
